In [185]:
import pandas as pd
import numpy as np
import geopandas as gpd
from sklearn.metrics import cohen_kappa_score
import geocoder
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/Users/avigailvantu/anaconda2/lib/python2.7/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['add']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [186]:
#upload data - merged version 
mc = pd.read_csv('mc_merged1.csv')

In [187]:
mc.columns

Index([u'Unnamed: 0', u'outletID', u'Subway Station',
       u'Tobacco Outlet Address', u'ZIP', u'Important Notes', u'Images (Y/N)',
       u'Quality (Y/N)', u'Quality (Y/N) Comments ', u'Name',
       ...
       u'game_y', u'gm_quantity_y', u'gm_flavor_y', u'gm_pkgclr_y', u'other_y',
       u'other_quantity_y', u'other_flavor_y', u'other_pkgclr_y',
       u'unidentifiable_brand_y', u'issues_y'],
      dtype='object', length=127)

In [12]:
mc['Tobacco Outlet Address'][:1]

0    310 FLATBUSH AVE Brooklyn NY 11238
Name: Tobacco Outlet Address, dtype: object

In [17]:
mc['address_x'][:1]

0    310 FLATBUSH AVE Brooklyn NY 11238
Name: address_x, dtype: object

In [64]:
# creating a for loop to geocode the address column using Jaenelles ftp table  
add = mc['address_x']
lis = []

for i in add:
    g = geocoder.google(i)
    b = g.latlng

    lis.append(b)

In [23]:
g = geocoder.google('310 FLATBUSH AVE Brooklyn NY 11238')
b = g.latlng
print b

[40.6773151, -73.97286009999999]

In [198]:
mc['geo'] = lis

In [116]:
print mc['geo'][200:250]

[[40.8798332, -73.9066211], [40.7239752, -73.8479801], None, None, [40.793127, -73.97205629999999], None, [40.7760208, -73.9112985], [40.8486106, -73.8682961], [40.8496748, -73.8645566], None, None, [40.7089018, -74.0093052], None, None, [40.8661402, -73.9199539], None, None, None, [40.6923488, -73.9312289], None, None, [40.691272, -73.927903], None, [40.68199509999999, -73.878683], None, None, [40.6645488, -73.89442760000001], None, None, [40.8177581, -73.90337149999999], [40.8210655, -73.9040428], [40.8194552, -73.902371], None, None, [40.821271, -73.90061899999999], None, None, [40.75824, -73.918227], [40.7586799, -73.9189434], [40.6634165, -73.9511136], [40.6632928, -73.9507272], [40.6645374, -73.95378649999999], [40.7339578, -73.9924838]]

In [62]:
# trying ut the failing ones manually 
g = geocoder.google('356 ROGERS AVE Brooklyn NY 11225')
g.latlng

[40.6645374, -73.95378649999999]

In [63]:

g = geocoder.google('101 UNIVERSITY PL Manhattan NY 10003')
g.latlng

[40.7339578, -73.9924838]

In [122]:
#mc['geo'].astype(str)

In [125]:
#mc['geo'].apply(lambda x: x.split (',')[0])
mc['lat'] = mc['geo'].apply(lambda x: x.split(" , "))

AttributeError: 'list' object has no attribute 'apply'

In [130]:
#mc['geo']

mc.to_csv('geo.csv')

In [134]:
geo = pd.read_csv('geo.csv')

In [135]:
geo

     Unnamed: 0                              geo1
0             0  [40.6773151, -73.97286009999999]
1             2         [40.6770555, -73.9726146]
2             3         [40.7180715, -73.9584848]
3             4  [40.7177917, -73.95749649999999]
4             6          [40.7186396, -73.957155]
5             7         [40.7187871, -73.9569887]
6             8   [40.717669, -73.95770759999999]
7             9         [40.6103548, -73.9537862]
8            10          [40.609334, -73.9576113]
9            11          [40.609898, -73.9552585]
10           12          [40.608787, -73.9589939]
11           13         [40.6080358, -73.9617605]
12           14  [40.6084878, -73.95841899999999]
13           15  [40.6103605, -73.95390739999999]
14           17         [40.6073889, -73.9622926]
15           20  [40.6928582, -73.92753429999999]
16           21         [40.6944077, -73.9311506]
17           22           [40.69397, -73.9294029]
18           23   [40.68228200000001, -73.877408]
19           25         [40.6815578, -73.8788668]
20           26  [40.6812412, -73.87991149999999]
21           27           [40.666545, -73.891423]
22           28         [40.6631587, -73.8948008]
23           29         [40.6643059, -73.8957712]
24           30         [40.6649706, -73.8944046]
25           31          [40.6649118, -73.893909]
26           32         [40.6627187, -73.9475588]
27           33         [40.6634288, -73.9541903]
28           34         [40.6617083, -73.9505166]
29           35   [40.661662, -73.95104599999999]
..          ...                               ...
109         162         [40.7217194, -74.0046842]
110         164         [40.7753054, -73.9137865]
111         165         [40.7763259, -73.9113129]
112         181  [40.7034103, -73.79904839999999]
113         186  [40.8530376, -73.92731540000001]
114         190         [40.8281148, -73.9239955]
115         203  [40.6765526, -73.97171809999999]
116         204   [40.793127, -73.97205629999999]
117         207         [40.8486106, -73.8682961]
118         208         [40.8496748, -73.8645566]
119         211         [40.7089018, -74.0093052]
120         214         [40.8661402, -73.9199539]
121         217         [40.7037578, -73.7972136]
122         220           [40.692104, -73.930739]
123         223   [40.68199509999999, -73.878683]
124         224   [40.66329959999999, -73.894009]
125         226  [40.6645488, -73.89442760000001]
126         227         [40.6662586, -73.8940776]
127         228         [40.6666903, -73.8918887]
128         230         [40.8210655, -73.9040428]
129         231          [40.8194552, -73.902371]
130         232           [40.820604, -73.902394]
131         233         [40.8202459, -73.9012377]
132         234   [40.821271, -73.90061899999999]
133         235         [40.8326234, -73.8682637]
134         236           [40.831162, -73.867915]
135         237            [40.75824, -73.918227]
136         238         [40.7586799, -73.9189434]
137         239         [40.6634165, -73.9511136]
138         240         [40.6632928, -73.9507272]

[139 rows x 2 columns]

In [147]:
#create a lon column
geo['lon'] = geo['geo1'].apply(lambda x: x.split(',')[-1])

In [150]:
geo['lon'].head(3)

0     -73.97286009999999]
1            -73.9726146]
2            -73.9584848]
Name: lon, dtype: object

In [152]:
#create a lat column 
geo['lat'] = geo['geo1'].apply(lambda x: x.split(',')[-0])

In [154]:
geo['lat'].head()

0    [40.6773151
1    [40.6770555
2    [40.7180715
3    [40.7177917
4    [40.7186396
Name: lat, dtype: object

In [167]:
#remove barackets lon
geo['lon'] = geo['lon'].map(lambda x: str(x)[:-1])

In [170]:
geo['lon'].head(2)

0     -73.97286009999999
1            -73.9726146
Name: lon, dtype: object

In [171]:
#remove barackets lat
geo['lat'] = geo['lat'].map(lambda x: str(x)[1:])

In [174]:
geo['lat'].head(2)

0    40.6773151
1    40.6770555
Name: lat, dtype: object

In [177]:
geo.head(10)

,Unnamed: 0,geo1,lat,lon
0,0,"[40.6773151, -73.97286009999999]",40.6773151,-73.97286009999999
1,2,"[40.6770555, -73.9726146]",40.6770555,-73.9726146
2,3,"[40.7180715, -73.9584848]",40.7180715,-73.9584848
3,4,"[40.7177917, -73.95749649999999]",40.7177917,-73.95749649999999
4,6,"[40.7186396, -73.957155]",40.7186396,-73.957155
5,7,"[40.7187871, -73.9569887]",40.7187871,-73.9569887
6,8,"[40.717669, -73.95770759999999]",40.717669,-73.95770759999999
7,9,"[40.6103548, -73.9537862]",40.6103548,-73.9537862
8,10,"[40.609334, -73.9576113]",40.609334,-73.9576113
9,11,"[40.609898, -73.9552585]",40.609898,-73.9552585

In [178]:
#export

geo.to_csv('plot.csv')

In [180]:
len(geo)

139

In [189]:
#doing the same with address y

In [188]:
add = mc['address_y']
listy = []

for i in add:
    g = geocoder.google(i)
    b = g.latlng

    listy.append(b)

In [203]:
mc['geo22'] = listy

In [195]:
mc['geo22'].isnull().sum()

54

In [196]:
# we got less null using address_y
mc['geo22'][:50]

0     [40.6773151, -73.9728601]
1     [40.6760809, -73.9714004]
2     [40.6770555, -73.9726146]
3       [40.718636, -73.959009]
4     [40.7177917, -73.9574965]
5     [40.7182029, -73.9571291]
6      [40.7186396, -73.957155]
7     [40.7187871, -73.9569887]
8      [40.717669, -73.9577076]
9                          None
10     [40.609334, -73.9576113]
11     [40.609898, -73.9552585]
12     [40.608787, -73.9589939]
13                         None
14     [40.6084878, -73.958419]
15    [40.6103605, -73.9539074]
16                         None
17    [40.6073889, -73.9622926]
18    [40.6095633, -73.9558221]
19                         None
20    [40.6928582, -73.9275343]
21    [40.6944077, -73.9311506]
22      [40.69397, -73.9294029]
23      [40.682282, -73.877408]
24    [40.6818444, -73.8789296]
25    [40.6815578, -73.8788668]
26                         None
27      [40.666545, -73.891423]
28    [40.6631587, -73.8948008]
29                         None
30    [40.6649706, -73.8944046]
31     [40.6649118, -73.893909]
32    [40.6627187, -73.9475588]
33    [40.6634288, -73.9541903]
34                         None
35                         None
36    [40.6628605, -73.9510755]
37                         None
38    [40.6626636, -73.9539849]
39    [40.8276846, -73.9244313]
40    [40.8268029, -73.9252329]
41    [40.8265662, -73.9222603]
42                         None
43    [40.8273548, -73.9254292]
44    [40.8271359, -73.9245529]
45     [40.8274013, -73.925725]
46                         None
47    [40.8484096, -73.9137489]
48                         None
49                         None
Name: geo22, dtype: object

In [200]:
#mc['geo'][:50]

In [204]:
mc.to_csv('geo22.csv')

In [215]:

g = geocoder.google('1079 NOSTRAND AVE Brooklyn NY 11225')
g.latlng

In [206]:
missgeo = pd.read_csv('missgeo.csv')

In [207]:
missgeo.columns

Index([u'outlet_id', u'subway_station_x', u'address_x'], dtype='object')

In [208]:
add = missgeo['address_x']
listi = []

for i in add:
    g = geocoder.google(i)
    b = g.latlng

    listi.append(b)

In [209]:
listi

[[40.6773151, -73.97286009999999],
 [40.6103548, -73.9537862],
 [40.6080358, -73.9617605],
 [40.608495, -73.957414],
 [40.6932263, -73.9277615],
 [40.6812412, -73.87991149999999],
 None,
 [40.661662, -73.95104599999999],
 [40.6629195, -73.95067499999999],
 [40.8281989, -73.92431049999999],
 [40.8475591, -73.9114895],
 [40.8497144, -73.9105154],
 [40.8790273, -73.90441799999999],
 [40.8782715, -73.9026308],
 [40.8795593, -73.9057855],
 [40.8790552, -73.90533429999999],
 [40.8521875, -73.8647044],
 [40.8494361, -73.8638515],
 [40.8325479, -73.8702588],
 [40.8403026, -73.8436293],
 [40.816064, -73.9576325],
 [40.7208999, -74.0044202],
 [40.8149121, -73.95720709999999],
 [40.87988, -73.90630829999999],
 [40.6780633, -73.9758633],
 [40.7042858, -73.7988666],
 None,
 [40.6666903, -73.8918887]]

In [211]:
missgeo['geo'] = listi

In [212]:
missgeo

,outlet_id,subway_station_x,address_x,geo
0,1,"7th Ave. (B,Q)",310 FLATBUSH AVE Brooklyn NY 11238,"[40.6773151, -73.9728601]"
1,10,"Kings Highway (B,Q)",1932 KINGS HWY Brooklyn NY 11229,"[40.6103548, -73.9537862]"
2,14,"Kings Highway (B,Q)",1101 QUENTIN RD Brooklyn NY 11229,"[40.6080358, -73.9617605]"
3,17,"Kings Highway (B,Q)",1690 E 16TH ST Brooklyn NY 11229,"[40.608495, -73.957414]"
4,20,Kosciuszko St. (J),1165 BROADWAY Brooklyn NY 11221,"[40.6932263, -73.9277615]"
5,27,Norwood & Fulton,3118 FULTON ST Brooklyn NY 11208,"[40.6812412, -73.8799115]"
6,35,"Sterling St. (2,5)",1079 NOSTRAND AVE Brooklyn NY 11225,None
7,36,"Sterling St. (2,5)",1080 NOSTRAND AVE Brooklyn NY 11225,"[40.661662, -73.951046]"
8,38,"Sterling St. (2,5)",1037 NOSTRAND AVE Brooklyn NY 11225,"[40.6629195, -73.950675]"
9,43,"161 St - Yankee Stadium, 4, B & D train",898 GERARD AVE Bronx NY 10452,"[40.8281989, -73.9243105]"
10,47,"176 St, 4 train",27 E 175TH ST Bronx NY 10453,"[40.8475591, -73.9114895]"
11,49,"176 St, 4 train",1888 JEROME AVE Bronx NY 10453,"[40.8497144, -73.9105154]"
12,50,"231 Street Station, 1 train",5582 BROADWAY Bronx NY 10463,"[40.8790273, -73.904418]"
13,51,"231 Street Station, 1 train",141 W 231ST ST Bronx NY 10463,"[40.8782715, -73.9026308]"
14,52,"231 Street Station, 1 train",231 W 231ST ST Bronx NY 10463,"[40.8795593, -73.9057855]"
15,55,"231 Street Station, 1 train",206 W 231ST ST Bronx NY 10463,"[40.8790552, -73.9053343]"
16,57,"Bronx Park East, 2 & 5 train",2068 WALLACE AVE Bronx NY 10462,"[40.8521875, -73.8647044]"
17,60,"Bronx Park East, 2 & 5 train",1971 BRONXDALE AVE Bronx NY 10462,"[40.8494361, -73.8638515]"
18,68,"St Lawrence Av, 6 train",1721 E 172ND ST Bronx NY 10472,"[40.8325479, -73.8702588]"
19,78,"Westchester Sq - E Tremont, 6 train",15 WESTCHESTER SQ Bronx NY 10461,"[40.8403026, -73.8436293]"
20,83,"125 St, 1 train",566 W 126TH ST Manhattan NY 10027,"[40.816064, -73.9576325]"
21,154,"Canal St, 1 & 2 train",374 CANAL ST Manhattan NY 10013,"[40.7208999, -74.0044202]"
22,196,"125 St, 1 train",545 W 125TH ST Manhattan NY 10027,"[40.8149121, -73.9572071]"
23,207,"231 Street Station, 1 train",249 W 231ST ST Bronx NY 10463,"[40.87988, -73.9063083]"
24,221,"7th Ave. (B,Q)",133 6TH AVE Brooklyn NY 11217,"[40.6780633, -73.9758633]"
25,247,"Jamaica Center - Parsons/Archer (E,J,Z)",9046 161ST ST Queens NY 11432,"[40.7042858, -73.7988666]"
26,263,"Pennsylvania Ave. (2,3,4,5)",666 DUMONT AVE Brooklyn NY 11207,None
27,264,"Pennsylvania Ave. (2,3,4,5)",725 DUMONT AVE Brooklyn NY 11207,"[40.6666903, -73.8918887]"

In [213]:
missgeo.to_csv('missgeo1.csv')

In [217]:
g = geocoder.google('666 DUMONT AVE Brooklyn NY 11207')
g.latlng

[40.6662586, -73.8940776]

In [219]:
geouse = pd.read_csv('geouse.csv')

In [222]:
geouse['geo22']

0      [40.6773151, -73.97286009999999]
1             [40.6760809, -73.9714004]
2             [40.6770555, -73.9726146]
3               [40.718636, -73.959009]
4      [40.7177917, -73.95749649999999]
5             [40.7182029, -73.9571291]
6              [40.7186396, -73.957155]
7             [40.7187871, -73.9569887]
8       [40.717669, -73.95770759999999]
9                                   NaN
10             [40.609334, -73.9576113]
11             [40.609898, -73.9552585]
12             [40.608787, -73.9589939]
13                                  NaN
14     [40.6084878, -73.95841899999999]
15     [40.6103605, -73.95390739999999]
16                                  NaN
17            [40.6073889, -73.9622926]
18     [40.6095633, -73.95582209999999]
19                                  NaN
20     [40.6928582, -73.92753429999999]
21            [40.6944077, -73.9311506]
22              [40.69397, -73.9294029]
23      [40.68228200000001, -73.877408]
24     [40.6818444, -73.87892959999999]
25            [40.6815578, -73.8788668]
26                                  NaN
27              [40.666545, -73.891423]
28            [40.6631587, -73.8948008]
29            [40.6643059, -73.8957712]
                     ...
213           [40.7416928, -73.8804347]
214           [40.8661402, -73.9199539]
215           [40.8675013, -73.9213771]
216                                 NaN
217    [40.7032698, -73.79686029999999]
218           [40.6923488, -73.9312289]
219           [40.6916521, -73.9279672]
220             [40.692104, -73.930739]
221             [40.691272, -73.927903]
222            [40.6817808, -73.877994]
223     [40.68199509999999, -73.878683]
224     [40.66329959999999, -73.894009]
225    [40.66376959999999, -73.8910077]
226    [40.6645488, -73.89442760000001]
227                                 NaN
228                                 NaN
229    [40.8177581, -73.90337149999999]
230                                 NaN
231            [40.8194552, -73.902371]
232             [40.820604, -73.902394]
233           [40.8202459, -73.9012377]
234     [40.821271, -73.90061899999999]
235           [40.8326234, -73.8682637]
236             [40.831162, -73.867915]
237              [40.75824, -73.918227]
238           [40.7586799, -73.9189434]
239           [40.6634165, -73.9511136]
240           [40.6632928, -73.9507272]
241           [40.6654123, -73.9538869]
242           [40.7339578, -73.9924838]
Name: geo22, Length: 243, dtype: object

In [238]:
geouse1 = pd.read_csv('geouse1.csv')

In [239]:
#create a lon column
geouse1['lon'] = geouse1['geo22'].apply(lambda x: x.split(',')[-1])

In [240]:
geouse1['lon'].head(2)

0     -73.97286009999999]
1            -73.9714004]
Name: lon, dtype: object

In [241]:
#create a lat column 
geouse1['lat'] = geouse1['geo22'].apply(lambda x: x.split(',')[-0])

In [242]:
geouse1['lat'].head(2)

0    [40.6773151
1    [40.6760809
Name: lat, dtype: object

In [243]:
#remove barackets lon
geouse1['lon'] = geouse1['lon'].map(lambda x: str(x)[:-1])

In [244]:
#remove barackets lat
geouse1['lat'] = geouse1['lat'].map(lambda x: str(x)[1:])

In [245]:
geouse1['lon'].head(2)

0     -73.97286009999999
1            -73.9714004
Name: lon, dtype: object

In [236]:
#done

In [ ]:
#export

In [247]:
geouse1.to_csv('geofinal.csv')

In [248]:
len(geouse1)

243