In [ ]:

import pandas as pd
import numpy as np
import geopandas as gpd

from sklearn.metrics import cohen_kappa_score

%pylab inline

In [ ]:
mc_mn = pd.read_csv('mapcorps_stops.xlsx - All Stops (2).csv')
mc_jn= pd.read_csv('Flavored Tobacco Products Rating - janelle_rating.csv')
mc_ls= pd.read_csv('Flavored Tobacco Products Rating - lis_rating.csv')

mc_mn1 = pd.read_csv('mapcorps_stops.xlsx - All Stops1.csv')

In [13]:
mc_mn1.shape

(168, 30)

In [12]:
mc_mn.shape

(162, 31)

In [11]:
mc_jn.shape

(241, 48)

In [10]:
mc_ls.shape

(241, 48)

In [15]:
mc_mn.head(2)

,outletID,Subway Station,Tobacco Outlet Address,ZIP,Important Notes,Images (Y/N),Quality (Y/N),Quality (Y/N) Comments,Name,Borough,...,Non-cons 2,Num_All_2,denom_all_2.1,Name*,Cons*,Num_Green,Denom_All,Non-cons*,Num_All,Denom_All.1
0,1,"7th Ave. (B,Q)",310 FLATBUSH AVE Brooklyn NY 11238,11238,partially hidden behind counter,Y,Y,Y,Janelle,BK,...,4/34,4.0,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"7th Ave. (B,Q)",387 FLATBUSH AVE Brooklyn NY 11238,11238,"very far behind counter, difficult to see",Y,Y,Y - But does not capture all cigs on display,Janelle,BK,...,3/18,3.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
mc_mn['outlet_id'] = mc_mn['outletID']

In [17]:
mergedftp = pd.merge(mc_jn, mc_ls , on = 'outlet_id', how = "inner")

In [18]:
mergedftp.head(2)

,outlet_id,subway_station_x,address_x,borough_x,zip_x,ftp_visible_x,black and mild_x,bm_quantity_x,bm_flavor_x,bm_pkgclr_x,...,game_y,gm_quantity_y,gm_flavor_y,gm_pkgclr_y,other_y,other_quantity_y,other_flavor_y,other_pkgclr_y,unidentifiable_brand_y,issues_y
0,1,"7th Ave. (B,Q)",310 FLATBUSH AVE Brooklyn NY 11238,BK,11238,y,n,NaN,NaN,NaN,...,N,NaN,NaN,NaN,N,NaN,NaN,NaN,1,NaN
1,2,"7th Ave. (B,Q)",387 FLATBUSH AVE Brooklyn NY 11238,BK,11238,y,n,NaN,NaN,NaN,...,N,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN

In [29]:
merged_all = pd.merge(mc_mn,  mergedftp, on = 'outlet_id', how = "outer")

In [30]:
merged_all.columns

Index([u'outletID', u'Subway Station', u'Tobacco Outlet Address', u'ZIP',
       u'Important Notes', u'Images (Y/N)', u'Quality (Y/N)',
       u'Quality (Y/N) Comments ', u'Name', u'Borough',
       ...
       u'game_y', u'gm_quantity_y', u'gm_flavor_y', u'gm_pkgclr_y', u'other_y',
       u'other_quantity_y', u'other_flavor_y', u'other_pkgclr_y',
       u'unidentifiable_brand_y', u'issues_y'],
      dtype='object', length=126)

In [31]:
merged_all.shape

(243, 126)

In [26]:
mergedftp.shape

(241, 95)

In [32]:
merged_all.to_csv('mc_merged1.csv')